/java/projec_name/nbproject/private/
/java/projec_name/build/
/java/exe001/nbproject/private/
/java/exe002/nbproject/private/
/java/exe001/build/
/java/exe01/nbproject/private/
/java/exe01/build/
/java/exe0001/nbproject/private/
/java/exe0001/build/
/java/aula01/nbproject/private/
/java/aula01/build/
/java/aula02/nbproject/private/
/java/aula02/build/
/java/aula03/nbproject/private/
/java/aula03/build/
/java/aula04/nbproject/private/
/java/aula04/build/
/java/aula05/nbproject/private/
/java/aula05/build/
/java/aula06/nbproject/private/
/java/aula06/build/
/java/aula07/nbproject/private/
/java/aula07/build/
/java/aula08/nbproject/private/
/java/aula08/build/
/java/aula09/nbproject/private/
/java/aula09/build/
/java/aula10/nbproject/private/
/java/aula10/build/
/java/aula11/nbproject/private/
