* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(74, 74, 131);
    color: white;
    
}

#divmae {
    width: 650px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px solid black;
}

#resultado {
    background-color: rgb(185, 185, 239);
    width: 150px;
}