@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: auto;
    background-color: rgb(246, 186, 186);
    text-align: center;
}

header {

}

section {
    margin: auto;
    background-color: white;
    width: 500px;
    padding: 20px;
}

#res {
    
}

footer {

}